<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461586096673-n2kj908t10lgrsja835ohm88h88411k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461586096673-n2kj908t10lgrsja835ohm88h88411k6</string>
	<key>API_KEY</key>
	<string>AIzaSyA46l0Eda1hOJzFFh5NjJsy18fGDnDHX-k</string>
	<key>GCM_SENDER_ID</key>
	<string>461586096673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahitm.gradebook</string>
	<key>PROJECT_ID</key>
	<string>gradebook-ca826</string>
	<key>STORAGE_BUCKET</key>
	<string>gradebook-ca826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:461586096673:ios:2ea97d7057f1e451beb960</string>
</dict>
</plist>
